@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Modo Claro (Por defecto) */
  --background: #ffffff;
  --foreground: #171717;
  
  /* Nuestro Naranja de Panadería */
  --primary: 24.6 95% 53.1%; 
  
  /* Grises para bordes */
  --border: 0 0% 89.8%;
  --input: 0 0% 89.8%;
  --ring: 24.6 95% 53.1%;
  --radius: 0.5rem;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}